<div class="container-fluid">
    <div class="row mt-4">

        <!-- Product List -->
        <div class="col-9">
            <ul class="list-group">

                <!-- Head List -->
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-6">
                            <h5>Added items</h5>
                        </div>
                        <div class="col-2 text-center">
                            <h5>Quantity</h5>
                        </div>
                        <div class="col-2 text-center">
                            <h5>Price</h5>
                        </div>
                        <div class="col-2 text-center">
                            <h5>Action</h5>
                        </div>
                    </div>
                </li>

                <!-- Lists -->
                <li *ngFor="let product of products" class="list-group-item">
                    <div class="row">
                        <!-- Product Image -->
                        <div class="col-2">
                            <img src="{{product?.image}}" class="w-100">
                        </div>

                        <!-- Product Name and Stock -->
                        <div class="col-4 my-auto">
                            <h5>{{product?.productName}}</h5>
                            <p class="mb-0">Stok {{product?.stock}}</p>
                        </div>

                        <!-- Product Quantity -->
                        <div class="col-2 my-auto px-5">
                            <span *ngFor="let Qproduct of cartList">
                                <span *ngIf="product.id===Qproduct.id">
                                    <input type="type" class="form-control" #quan (keyup)="updateProduct(product.id,quan.value)" value="{{Qproduct.quantity}}">
                                </span>
                            </span>
                        </div>

                        <!-- Subtotal Price Product -->
                        <div class="col-2 my-auto text-center">
                            <span *ngFor="let Pproduct of priceList">
                                <span *ngIf="product.id===Pproduct.id">
                                    <p>{{Pproduct.TPrice | currency}}</p>
                                </span>
                            </span>
                        </div>

                        <!-- Remove Product -->
                        <div class="col-2 my-auto text-center">
                            <button class="btn btn-danger" (click)="removeCart(product.id)">Remove</button>
                        </div>

                    </div>
                </li>
            </ul>
        </div>

        <!-- Purchase Info -->
        <div class="col-3">

            <!-- Promo Code Input -->
            <div class="input-group mb-3">
                <input type="text" class="form-control form-control-lg" #promoCd style="border-style:solid none solid solid;border-color: rgb(209, 209, 209)">
                <div class="input-group-append">
                    <button class="btn" (click)="getPromo(promoCd.value)" style="background:none;border-style:solid solid solid none;border-color: rgb(209, 209, 209)">Add</button>
                </div>
            </div>

            <!-- Promo List -->
            <ul class="list-group mb-3">
                <li *ngFor="let promo of promoCode" class="list-group-item d-flex justify-content-between">
                    <span>{{promo.desc}}</span>
                    <span><strong>{{promo.code}}</strong></span>
                </li>
            </ul>

            <!-- Total Price -->
            <ul class="list-group mb-3">

                <!-- Sub Total -->
                <li class="list-group-item d-flex justify-content-between">
                    <span>Sub Total</span>
                    <span><strong>{{subTotal | currency}}</strong></span>
                </li>

                <!-- Promo Price -->
                <li class="list-group-item d-flex justify-content-between">
                    <span>Promo</span>
                    <span><strong>{{promo | currency}}</strong></span>
                </li>

                <!-- Total Price -->
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total Price</span>
                    <span><strong>{{totalPrice | currency}}</strong></span>
                </li>
            </ul>

            <!-- Button Shopping -->
            <button class="btn btn-danger btn-block py-2">Continue Shopping</button>
            
        </div>
    </div>
</div>