<div *ngIf="products!=undifined">
    <div class="row">
        <!-- Products list -->
        <div class="col-3 center mb-5" *ngFor="let product of products | paginate:{itemsPerPage: 8 ,currentPage:currPage}">
            <div class="text-center border p-2">
                <img src="{{product.image}}" class="w-100">
                <h5>{{product.productName}}</h5>
                <p>{{product.category}}</p>
                <h6>{{product.price | currency:"":"symbol-narrow"}}</h6>
                <a routerLink="/products/p/{{product.slug}}">Detail</a>
                <div *ngIf="router.url==='/wishlist'">
                    <button class="btn btn-danger rounded-0 my-2" (click)="removeWishList(product.id)" >Remove</button>
                </div>
            </div>
        </div>
    
        <!-- Pagination -->
        <div class="mt-3 col-12">
            <pagination-controls (pageChange)="currPage=$event;currentPage($event)"></pagination-controls>
        </div>
    </div>
</div>
