<!-- Fillter -->
<input class="form-control" type="text" #search (keyup)="searchName(search.value)" value="{{params.search}}" placeholder="Fillter">
<hr>

<!-- Category -->
<div>
    <button class="btn btn-secondary btn-block category" (click)="searchCategory('all')" [class.selected]="params.category===undifined||params.category===null">All</button>
    <button *ngFor="let category of categories" class="btn btn-secondary btn-block category" [class.selected]="category.categoryName==params.category" (click)="searchCategory(category.categoryName)">{{category.categoryName}}</button>
</div>
<hr>

<!-- Price -->
<input type="number" class="form-control" #price [value]="params.price?params.price:0" min="0" (change)="searchPrice(price.value)">
<div *ngIf="params.price">
    <button class="btn btn-warning btn-block rounded-0" (click)="price.value=0;searchPrice(price.value) ">Reset</button>
</div>
<hr>

<!-- Colors -->
<div>
    <button *ngFor="let color of colors" class="btn btn-secondary btn-block color"  [class.selected]="color.nameColor===params.color" (click)="searchColor(color.nameColor)">{{color.nameColor}}</button>
</div>
<hr>

<!-- Size --> 
<div *ngFor="let size of sizes" class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" (click)="size.check = !size.check;searchSize()" [checked]="size.check" id="{{size.size}}}" value="{{size.size}}}">
    <label class="form-check-label" for="{{size.size}}}">{{size.size}}</label>
</div>