<div class="container mt-5">

    <!-- Product Name -->
    <h2 class="mb-4">{{product?.productName}}</h2>

    <div class="row">

        <!-- Product Images -->
        <div class="col-6">
            <div class="row">
                <div class="col-12 mb-3">
                    <img class="w-100" [src]="product?.image">
                </div>
                <div *ngFor="let src of product?.gallery" class="col-3">
                    <img src="{{src.thumbnail}}" class="w-100 thumb">
                </div>
            </div>
        </div>

        <!-- Product Info -->
        <div class="col-6">
            <div class="mb-3 d-flex justify-content-between">

                <!-- product price -->
                <h4>{{ product?.price | currency }}</h4>

                <div>
                    <!-- add Wishlist -->
                    <a href="javascipt:void()" (click)="addWishlist(product.id);succesMessage('Added To Wishlist')" class="d-block">Add to Wishlist</a>
                    <!-- Add Compare -->
                    <a href="javascipt:void()" (click)="addCompare(product.id);succesMessage('Added To Compare')" class="d-block">Compare</a>
                </div>

            </div>

            <!-- add cart -->
            <button class="btn btn-secondary btn-block mb-3" (click)="addCart(product.id);succesMessage('Added To Cart')">Add To Cart({{objCart.quantity}})</button>

            <!-- Meta Info -->
            <table class="table w-50 table-bordered">
                
                <!-- stok -->
                <tr>
                    <td>Stock</td>
                    <td>{{product?.stock}}</td>
                </tr>
                <!-- color -->
                <tr>
                    <td>Color</td>
                    <td>{{product?.color}}</td>
                </tr>
                <!-- size -->
                <tr>
                    <td>Size</td>
                    <td>{{product?.size}}</td>
                </tr>
            </table>
            
            <hr>
            <!-- product description -->
            <h5>Description</h5>
            <p>{{product?.description}}</p>

        </div>
    </div>
</div>
