<div class="py-5 px-2">
    <div class="row">
        <div class="col-2">
            <app-fillter-product #filter></app-fillter-product>
        </div>
        <div class="col-10">
            <app-product-list #list (page)="filter.updateParams('page',$event)" [products]="filter.products" [currPage]="filter.page"></app-product-list>
        </div>
    </div>
</div>
