<div class="container pt-4">

    <!-- Compare table -->
    <table class="table table-bordered text-center" style="width:auto">
        <tr>
            <th class="py-5 px-3 text-secondary">
                <div>
                    <!-- meta info -->
                    <h3>{{(3>products?.length)?products?.length:3}} of {{products?.length}}</h3>
                    <p>products to compare </p>

                    <!-- navigation button -->
                    <button [disabled]="start==0" (click)="prev()" class="btn btn-secondary mr-2">Prev</button>
                    <button [disabled]="end==products?.length||end>products?.length"  (click)="next()" class="btn btn-secondary">Next</button>
                </div>
            </th>

            <!-- product info -->
            <td *ngFor="let product of products | slice:start:end" class="p-0" style="width:250px">
                <img class="w-100" src="{{product?.image}}" alt="">
                <div class="py-3">
                    <h6>{{product?.productName}}</h6>
                    <p>{{product?.price | currency}}</p>
                    <button class="btn btn-danger" (click)="removeCompare(product.id)">Remove</button>
                </div>
            </td>
        </tr>
        <tr>
            <!-- product width -->
            <th><h6>Width</h6></th>
            <td *ngFor="let product of products | slice:start:end">{{product?.width}} cm</td>
        </tr>
        <tr>
            <!-- product height -->
            <th><h6>Height</h6></th>
            <td *ngFor="let product of products | slice:start:end">{{product?.height}} cm</td>
        </tr>
        <tr>
            <!-- product weight -->
            <th><h6>Weight</h6></th>
            <td *ngFor="let product of products | slice:start:end">{{product?.weight}} kg</td>
        </tr>
        <tr>
            <!-- product sold -->
            <th><h6>Sold</h6></th>
            <td *ngFor="let product of products | slice:start:end">{{product?.sold}}</td>
        </tr>
        <tr>
            <!-- product stock -->
            <th><h6>Stock</h6></th>
            <td *ngFor="let product of products | slice:start:end">{{product?.stock}}</td>
        </tr>
    </table>
</div>