<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <!-- Logo/Brand -->
    <a class="navbar-brand" routerLink="/">Navbar</a>

    <!-- Nav Links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item" [class.active]="router.url==='/products'">
            <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item" [class.active]="router.url==='/cart'">
            <a class="nav-link" routerLink="/cart">Cart</a>
        </li>
        <li class="nav-item" [class.active]="router.url==='/wishlist'">
            <a class="nav-link" routerLink="/wishlist">Wishlist</a>
        </li>
        <li class="nav-item" [class.active]="router.url==='/compare'">
            <a class="nav-link" routerLink="/compare">Compare</a>
        </li>
    </ul>

</nav>
